body {
  background-color: #fff;
}

.navbar {
  background-color: #212529;
  box-shadow: 1px 1px 3px #000;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #fff;
  transition: color 0.35s ease;
}

.nav-link:hover {
  color: #66cc99;
}

.navbar-nav .nav-link.active {
  color: #66cc99;
}

.logo {
  height: 25px;
  width: 100%;
  min-width: 170px;
  display: block;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28102, 204, 153, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid #66cc99;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #495057;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-sm {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

/* Bootstrap Icons */
.bi-box-arrow-in-down-right {
  color: #33cc99;
}

/* Hero Images */
#herohomepage {
  background-image: url(../img/hero.homepage.jpg);
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #0066ff;
}

/* Footer */
footer {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #000;
}

footer .nav-link {
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

footer .nav-item {
  margin-right: 0;
}
