body {
  background-color: #fff;
}

.navbar {
  background-color: #212529;
  box-shadow: 1px 1px 3px #000;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #fff;
  transition: color 0.35s ease;
}

.nav-link:hover {
  color: #66cc99;
}

.navbar-nav .nav-link.active {
  color: #66cc99;
}

.logo {
  height: 25px;
  width: 100%;
  min-width: 170px;
  display: block;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28102, 204, 153, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid #66cc99;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #495057;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-sm {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

/* Bootstrap Icons */
.bi-box-arrow-in-down-right {
  color: #33cc99;
}

/* Hero Images */
#herohomepage {
  background-image: url(../img/hero.homepage.jpg);
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#herolocalspots {
  background-image: url(../img/local_spots/hero.local_spots.jpg);
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#heroislands {
  background-image: url(../img/islands/hero.islands.jpg);
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Additional Sites */
#fener-site {
  background-image:
    linear-gradient(rgba(102, 153, 255, 0.4), rgba(51, 204, 153, 0.3)),
    url("../img/local_spots/fener-balat/fener.istanbul.jpg");

  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#chora-site {
  background-image:
    linear-gradient(rgba(102, 153, 255, 0.4), rgba(51, 204, 153, 0.3)),
    url("../img/local_spots/chora.church.istanbul.jpg");

  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#archaeo-site {
  background-image:
    linear-gradient(rgba(102, 153, 255, 0.4), rgba(51, 204, 153, 0.3)),
    url("../img/local_spots/archaeological-museum/archaeological.museum.jpg");

  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#suleymaniye-site {
  background-image:
    linear-gradient(rgba(102, 153, 255, 0.4), rgba(51, 204, 153, 0.3)),
    url("../img/local_spots/suleymaniye-mosque/suleymaniye.mosque.jpg");

  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Glass Btn */
.glass {
  .glass {
    backdrop-filter: blur(4px);
  }
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  color: #fff;
}

.glass:hover {
  background: linear-gradient(
    135deg,
    rgba(51, 204, 153, 1),
    rgba(0, 102, 255, 1)
  );
  border: 1px solid rbga(0, 102, 255, 1);
  color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #0066ff;
}

/* Footer */
footer {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #000;
}

footer .nav-link {
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

footer .nav-item {
  margin-right: 0;
}
